{% extends "general/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Señal - SOLID{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                 <h3><p class="text-center">Adquisición de la Señal</p></h3>
            </div>
            <div class="panel-body">
                {{ wtf.quick_form(form) }}
                <!--
                <form action="." method="POST" >
                    <div class="form-group">
                        <p>{{ form.identificador.label }} </p>
                        <p>{{ form.identificador(class="form-control") }}</p>
                    </div>
                    <div class="form-group">
                        <p>{{ form.descripcion.label }} </p>
                        <p>{{form.descripcion(class="form-control") }}</p>
                    </div>
                    <div class="form-group">
                        <p>{{ form.fecha.label }} </p>
                        <p>{{ form.fecha(class="form-control") }}</p>
                    </div>
                    <div>
                        <input type="submit" value="Adquirir">
                    </div>
                </form>-->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                 <h3><p class="text-center">Lista de Señales Adquiridas</p></h3>
            </div>
            <table class="table table-bordered">
                <tr align="center">
                    <th align="center">Identificador</th>
                </tr>
                {% for valor in seniales %}
                <tr>
                    <td align="center">{{ valor }} </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}